@import url('http://fonts.cdnfonts.com/css/ghibli');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


/* varriables */

:root {

    /* color */
    --text-gray: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1A3760D4;
    --text-red: #ff4d6d;
    --box-shadow: Opx Opx 50px Opx rgb(0 0 0/ 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow: rgb(255, 255, 246);
    --bg-purple: rgb(246, 255, 255);

    /* font family */
    --main-font: 'Ghibli', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    /* gradient color  */

    --bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);

    /* images */
    --bg-cover: url('./Screenshot3.png');
    --bg-image1: url('./eyetestt.jpg');
    --bg-image2: url('./img2.png');
    --bg-image3: url('./img3.png');
}

*>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* varriables */

/* Globle Classes*/
.text-dark {
    color: var(--text-dark)
}

.text-white {
    color: var(--text-white)
}

.text-light {
    color: var(--text-light)
}

.text-gray {
    color: var(--text-gray)
}

.text-red {
    color: var(--text-red)
}

.bg-gradient {
    background: var(--bg-gradient)
}

.bg-gradient-indigo {
    background: var(--bg-gradient-indigo)
}

.bg-gradient-peach {
    background: var(--bg-gradient-peach)
}

.bg-gradient-red {
    background: var(--bg-red)
}

.bg-gradient-blue {
    background: var(--bg-blue)
}

.bg-gradient-yellow {
    background: var(--bg-yellow)
}

.bg-gradient-purple {
    background: var(--bg-purple)
}

.font-main {
    font-family: var(--main-font);
}

.font-secondary {
    font-family: var(--secondary-font);
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 1em;
    line-height: 1.5em;
}

.text-md {
    font-size: 1.5em;
}

.text-lg {
    font-size: 2.2em;
    line-height: 1.8em;
}

.text-xl {
    font-size: 3em;
    font-weight:400;

}

.text-2xl {
    font-size: 5em;

}

.font-bold {
    font-weight: 500;
}

.flex {
    display: flex;

}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 100%
}

.container-fluid {
    width: 98%
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-10 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.px-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-10 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.link {
    color: var(--text-dark);
    font-weight: bold;
}

.link:hover {
    color: var(--text-red);
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    padding: .8rem 2rem;
    border-radius: 50px;
    font-family: var(--secondary-font);
    font-weight: bold;
}

.btn-shadow {
    box-shadow: var(--box-shadow);
}

.btn-primary:hover {
    background: var(--bg-gradient-indigo)
}

.bg-cover {
    background: var(--bg-cover);
    object-fit: fill
}

.d-inline {
    display: inline-block;
}

.d-block {
    display: block
}

.grid {
    display: grid
}

.cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));

}

.w-100 {
    width: 100%
}

.w-50 {
    width: 50%
}


/* Globle Classes*/

.helloo{
    background-color: var(--bg-blue);
    border-radius: 20px;
}
.hellooo{
    background-color: var(--bg-purple) !important;
    border-radius: 20px;
}
.eyecandy{
    height:80px;
    padding-top:10px
}
.btn-hover{
    border: none;
    background-color: transparent;
    cursor: pointer !important;
    padding: .8rem 2rem;
    border-radius: 50px;
    font-family: var(--secondary-font);
    font-weight: bold;
    z-index: 100;
}

.btn-hover:hover {
    background: var(--bg-gradient-indigo);
    
}
.arrow{
    width: 25px;
    /* margin-top:  */
}
/* media query section  */
/* for large screen sm (640px) */
@media(min-width:640px) {
    .container {
        max-width:640px;
    }
    .sm-text-xl{
        font-size:3em;
        
    }
    #site-main .banner-area{
        margin-top: 83px;
    }
    .md-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

}


/* for large screen md (768px) */
@media(min-width:768px) {
    
    .container {
        max-width: 768px;
    }
    .md-text-left{
        text-align:left;
        padding-left:20px;
    }
    .md-mx-initial{
        margin: initial;
    }
}

/* for large screen large (1024px) */
@media(min-width:1024px) {
    .container {
        max-width: 1024px;
    }

    #nav .toggle-btn>button {
        display: none;
    }

    #nav {
        flex-direction: row !important;
        padding: 1rem 1.5rem;
    }

    .collapse {
        max-height: initial !important;
        /* padding-left: 700px; */


    }

    .collapse ul {
        flex-direction: row !important;

    }

    .active {
        max-height: 100% !important;
    }

    .lg-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .lg-cols-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

     .lg-cols-4{
        grid-template-columns: repeat(4,minmax(0,1fr));
     }
    
}

/* for large screen large (1280px) */
@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }

    /* #nav {
        background: transparent !important;
    } */

    #nav .flex-initial ul button {
        display: inline-block !important;
    }
    .banner-title{
        margin-left:190px!important
    }
    #site-main .banner-area{
        background:url(./backg.png)no-repeat !important;
        background-position-x:right !important ;
        
    }
    .agency-area{
        margin-left: 295px !important;
        margin-right: 295px !important;
        padding-left:100px!important;
        
    }
    
}

/* media query section  */


/* navigarions style */
#nav {
    position: absolute;
    top: -1%;
    left: 0%;
    width: 100%;
    padding: 1rem 1.5rem;
    /* change it to  padding:1rem 1.5rem; in media query*/
    background: #F0ECE3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}

#nav .collapse {
    max-height: 0px;
    overflow-y: hidden;
    -webkit-transition: all 0.9 ease;
    -moz-transition: all 0.9 ease;
    -o-transition: all 0.9 ease;
    transition: all 0.9 ease;
}

#nav .collapse ul {
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
}

#nav .collapse ul li {
    padding: 0 1.5rem;
    line-height: 3rem;
    font-size: 1.1em;
}

#nav .toggle-btn>button {
    font-size: 2em;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 1rem;
    color: var(--text-dark2);
    z-index:10;
}



.active {
    max-height: 50vh !important;
}

/* navigarions style */

/* banner section style  */

#site-main .banner-area{
    width:100%;
    position:relative;
    background: var(--bg-cover)  no-repeat;
    background-position-x:right ;
    z-index:-99;
    padding-top:10px;
    padding-left: 10px;
    /* margin-left: 10px; */
}
#site-main .banner-area .banner-title{
    height: 95vh;
    padding-top: 16rem;
    
}
/* banner section style  */

/* agency section style  */
#site-main .agency-area{
    padding: 5em 0;
    margin: 25px 25px;
}
/* agency section style  */

/* eye-test style  */
#site-main .life-area>.grid{
    column-gap: 10em;
}


#site-main .life-area .grid-images{
    display:grid;
    grid-template-columns:repeat(16,minmax(10px, 1fr));
    grid-template-rows:repeat(8,minmax(100px, 1fr));
}
#site-main .life-area .grid-images .item-one{
    background: var(--text-gray);
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    background: var(--bg-image1) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);
}

#site-main .life-area .grid-images .item-two{
    background: var(--text-gray);
    grid-column-start: 9;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;
    background: var(--bg-image2) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);

}
#site-main .life-area .grid-images .item-three{
    grid-area: 3/4/8/14;
    background: var(--bg-image3) no-repeat;
    background-size: cover;
    border-radius: 8px;
    z-index: 99;
    

}

/* eye-test style  */

/* counting area style  */
#site-main .counting-area{
    padding:7em 0;
}

#site-main .counting-area .grid-one p{
    width:80%
}

#site-main .counting-area .count-box{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

#site-main .counting-area .count-box .grid{
    display: inline-grid;
    grid-gap: 4px;
    border-radius: 20px;
    background-color: var(--text-light);
    -webkit-box-shadow: 12px 6px 46px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 6px 46px -3px rgba(0,0,0,0.75);
    box-shadow: 12px 6px 46px -3px rgba(0,0,0,0.75);
}

#site-main .counting-area .count-box .grid>div{
    background-color: white;
    padding: 2em 2.5em;
    text-align: center;
   }
/* counting area style  */

/* card area style  */

#site-main .card-area .grid{
    column-gap: 4em;
    row-gap: 2em;
}
/* card area style  */

/* we-sell area style  */
#site-main .we-sell .images-flex .flex-items{
    width:360px;
    margin-bottom: 50px;
}

#site-main .we-sell .images-flex .flex-items img{
    border-radius: 15px;
}

.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.flex-items {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.flex-items img{max-width:100%;}


@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.manymore{
    /* display:flex; */
    align-items: right;
    text-align:right;
}

/* we-sell area style  */

/* footer  */
    
.pg-footer {
    font-family:'Poppins', sans-serif;
  }
  
  
  .footer {
      background-color: #F0ECE3;
      color: rgb(12, 11, 11);
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #ffffff;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: rgb(0, 0, 0);
  }
  
  .footer-content-column ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #000000;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #000000;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #000000;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #000000;
      border-radius: 21px;
      color: #000000;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #000000;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: rgb(0, 0, 0);
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: rgb(0, 0, 0);
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #466170ad;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 46px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 48px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 44px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 54px;
  }
  
  .footer-copyright {
      background-color: #F0ECE3;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  .instagrammer{
      height:23px;
      width:23px;
      
  }
  .googlemaps{
    height:29px;
    width:29px;
    margin-bottom: 2px;
  }
  .facebook{
    height:29px;
    width:29px;
  }
  
  .searchh{
      height:30px;
      margin-left: 2px;
  }
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 900px;
      position: relative;
    }
    .candy{
        height:120px;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
    .candy{
        height:120px;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
    .candy{
        height:120px;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .candy{
        height:120px;
    }
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .candy{
        height:120px;
    }
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
    .candy{
        height:120px;
    }
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  

/* footer  */


/* testemonials */
